# these two are for typechecking python and bash respectively
pyright[nodejs] # open source version of pylance with command line support
shellcheck-py
# and these are used for the repo proper
ipython
requests
